* {
  margin: 0;
  padding: 0;
}
header {
  color: #ff8e5b;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.navbar{
  padding: 20px 15px ;
}
.social-icons ul.navbar-end {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 15px;
  padding-left: 0;
}
.navbar-collapse{
  display: flex !important ;
  justify-content: space-between !important ;
  align-items: center !important ;
}
.nav-links-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.nav-item .nav-link{
  transition: .7s;
  color: #ff8e5b !important ;
  position: relative;
}
.nav-item .nav-link:hover{
  transition: .7s;
  transform: scale(1.12);
}
.nav-item .nav-link::before{
  position: absolute;
  content: "";
  left: 0% !important ;
  width: 0%;
  height: 0px;
  bottom: 0%;
  transition: .7s;
  background-color: #ffffff;
}
.nav-item .nav-link:hover::before{
  right: 0% !important;
  height: 2px;
  width: 100%;
  bottom: 0%;
  transition: .7s;
  background-color: #000000;
}
.social-icons ul.navbar-end li.social-icon a {
  color: inherit;
  text-decoration: none;
  font-size: 24px;
}

/* Header */

.hm-sec1{
  padding: 40px 0px ;
}
.hm-sec1 img{
  box-shadow: 0px 0px 20px 10px #ff8f5b9a;
  border-radius: 20px;
}