<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/Favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/font-awesome.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/color.css">
    <link rel="stylesheet" href="../css/ic">
    <title>CompuCreate</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md">
        <a class="navbar-brand" href="#"><img src="../images/logoWithoutBag.png" width="180"  alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <div class="nav-links-container">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link orange-2 " href="#">About</a>
                    </li>   
                    <li class="nav-item">
                        <a class="nav-link orange-2 " href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link orange-2 " href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link orange-2 " href="#">Resources</a>
                    </li>  
                </ul>
            </div>
            <div class="social-icons">
                <ul type="none" class="navbar-end">
                    <li class="social-icon" >
                        <a href=""><i class="fa fa-instagram  " aria-hidden="true"></i></a>
                    </li>
                    <li class="social-icon" >
                        <a href=""><i class="fa fa-linkedin-square  " aria-hidden="true"></i></a>
                    </li>
                    <li class="social-icon" >
                        <a href=""><i class="fa fa-facebook-official  " aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div> 
        </div> 
        </nav>
    </header>
    <Section class="hm-sec1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6">
                    <div class="heading">
                        <h1>
                            Start your business With Us <span id="aeroplane">🚀</span> 
                        </h1>
                        <h6>
                            <span class="auto-type"></span> 
                        </h6>
                    </div>
                    <div class="hmsec-1-body">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium unde tempora repudiandae iste illo natus adipisci debitis magnam. Id veniam repudiandae distinctio nesciunt dolore eius animi illum, nisi minus quo aperiam architecto. Non cum mollitia a, recusandae ex possimus dolores.
                        </p>
                        <button class="btn">
                            Contact Us
                        </button>
                    </div>
                    <hr  color="#ea4a00"  >
                </div>
                <div class="col-xl-6">
                    <img src="../images/hm-sec1Img.jpg" class="img-fluid"  alt="">
                </div>
            </div>
        </div>
    </Section>
</body>
<script src="../js/bootstrap.js"></script>
<script src="../js/typed.js"></script>
<script src="../js/Typing-Animation.js"></script>
</html>
